[submodule "dot_config/polybar_themes/polybar-sequoia-theme"]
	path = dot_config/polybar_themes/polybar-sequoia-theme
	url = https://github.com/Hiroya-W/polybar-sequoia-theme.git
[submodule "dot_config/polybar_themes/polybar-adapta-theme"]
	path = dot_config/polybar_themes/polybar-adapta-theme
	url = https://github.com/Hiroya-W/polybar-adapta-theme.git
[submodule "dot_config/rofi_themes/rofi"]
	path = dot_config/rofi_themes/rofi
	url = https://github.com/Hiroya-W/rofi.git
[submodule "dot_config/xremap/xremap-my-eucalyn"]
	path = dot_config/xremap/xremap-my-eucalyn
	url = https://github.com/Hiroya-W/xremap-my-eucalyn.git
