local wezterm = require("wezterm")
local utils = require("utils")

local function default_prog()
    if wezterm.target_triple == "x86_64-apple-darwin" then
        return { "/usr/local/bin/fish", "-l" }
    elseif wezterm.target_triple == "aarch64-apple-darwin" then
        return { "/opt/homebrew/bin/fish", "-l" }
    else
        return { "/usr/bin/fish" }
    end
end

-- https://wezfurlong.org/wezterm/config/lua/window/set_right_status.html
wezterm.on('update-right-status', function(window, _pane)
    -- Each element holds the text for a cell in a "powerline" style << fade
    local cells = {}

    -- I like my date/time in this style: "Wed Mar 3 08:14"
    local date = ' ' .. wezterm.strftime '%a %b %-d %H:%M'
    table.insert(cells, date)

    -- An entry for each battery (typically 0 or 1 battery)
    for _, b in ipairs(wezterm.battery_info()) do
        table.insert(cells, string.format('󰁹 %.0f%%', b.state_of_charge * 100))
    end


    -- The filled in variant of the < symbol
    local SOLID_LEFT_ARROW = utf8.char(0xe0b2)

    -- Color palette for the backgrounds of each cell
    local colors = {
        '#fafafa',
        '#41a6d9',
    }

    -- Foreground color for the text across the fade
    local text_fg = {
        '#5c6773',
        '#fafafa',
    }

    -- The elements to be formatted
    local elements = {}
    -- How many cells have been formatted
    local num_cells = 0

    -- Translate a cell into elements
    local function push(text, is_last)
        local cell_no = num_cells + 1
        table.insert(elements, { Foreground = { Color = text_fg[cell_no] } })
        table.insert(elements, { Background = { Color = colors[cell_no] } })
        table.insert(elements, { Text = ' ' .. text .. ' ' })
        if not is_last then
            table.insert(elements, { Foreground = { Color = colors[cell_no + 1] } })
            table.insert(elements, { Text = SOLID_LEFT_ARROW })
        end
        num_cells = num_cells + 1
    end

    while #cells > 0 do
        local cell = table.remove(cells, 1)
        push(cell, #cells == 0)
    end

    window:set_right_status(wezterm.format(elements))
end)

-- https://zenn.dev/yutakatay/articles/wezterm-intro#%E3%82%BF%E3%83%96%E3%82%92-tmux-%E3%81%BF%E3%81%9F%E3%81%84%E3%81%AB
wezterm.on("format-tab-title", function(tab, tabs, panes, config, hover, max_width)
    local title = wezterm.truncate_right(utils.basename(tab.active_pane.foreground_process_name), max_width)
    if title == "" then
        title = wezterm.truncate_right(
            utils.basename(utils.convert_home_dir(tab.active_pane.current_working_dir)),
            max_width
        )
    end
    return {
        { Text = " " .. tab.tab_index + 1 .. ":" .. title .. " " },
    }
end)

return {
    default_prog = default_prog(),
    color_scheme_dirs = { "$HOME/.config/wezterm/colors/" },
    color_scheme = "ayu_light",
    font = wezterm.font("PlemolJP Console NF"),
    use_ime = true,
{{- if eq .chezmoi.os "darwin" }}
    font_size = 15.0;
{{- else if eq .chezmoi.os "linux" }}
    font_size = 11.0;
{{- end }}
    hide_tab_bar_if_only_one_tab = false,
    use_fancy_tab_bar = false,
    colors = {
        tab_bar = {
            background = "#fafafa",
            active_tab = {
                bg_color = "#41a6d9",
                fg_color = "#fafafa",
                intensity = "Normal",
                underline = "None",
                italic = false,
                strikethrough = false
            },
            inactive_tab = {
                bg_color = "#fafafa",
                fg_color = "#5c6773",
                intensity = "Normal",
                underline = "None",
                italic = false,
                strikethrough = false
            },
            inactive_tab_hover = {
                bg_color = "#fafafa",
                fg_color = "#5c6773",
                intensity = "Normal",
                underline = "None",
                italic = false,
                strikethrough = false
            },
            new_tab = {
                bg_color = "#e1e1e1",
                fg_color = "#5c6773",
                intensity = "Normal",
                underline = "None",
                italic = false,
                strikethrough = false
            },
            new_tab_hover = {
                bg_color = "#e1e1e1",
                fg_color = "#5c6773",
                intensity = "Normal",
                underline = "None",
                italic = false,
                strikethrough = false
            }
        }
    },
    tab_bar_at_bottom = true,
    adjust_window_size_when_changing_font_size = false,
    show_update_window = false,
    check_for_updates = false,
    leader = { key = "b", mods = "CTRL", timeout_milliseconds = 1000 },
    keys = {
        { key = "c", mods = "LEADER", action = wezterm.action({ SpawnTab = "CurrentPaneDomain" }) },
        { key = "x", mods = "LEADER", action = wezterm.action({ CloseCurrentTab = { confirm = true } }) },
        { key = "%", mods = "LEADER|SHIFT", action = wezterm.action({ SplitVertical = { domain = "CurrentPaneDomain" } }) },
        { key = "\"", mods = "LEADER|SHIFT",
            action = wezterm.action({ SplitHorizontal = { domain = "CurrentPaneDomain" } }) },
        { key = "1", mods = "LEADER", action = wezterm.action({ ActivateTab = 0 }) },
        { key = "2", mods = "LEADER", action = wezterm.action({ ActivateTab = 1 }) },
        { key = "3", mods = "LEADER", action = wezterm.action({ ActivateTab = 2 }) },
        { key = "4", mods = "LEADER", action = wezterm.action({ ActivateTab = 3 }) },
        { key = "5", mods = "LEADER", action = wezterm.action({ ActivateTab = 4 }) },
        { key = "6", mods = "LEADER", action = wezterm.action({ ActivateTab = 5 }) },
        { key = "7", mods = "LEADER", action = wezterm.action({ ActivateTab = 6 }) },
        { key = "8", mods = "LEADER", action = wezterm.action({ ActivateTab = 7 }) },
        { key = "9", mods = "LEADER", action = wezterm.action({ ActivateTab = 8 }) },
        { key = "h", mods = "ALT|SHIFT", action = wezterm.action({ ActivatePaneDirection = "Left" }) },
        { key = "l", mods = "ALT|SHIFT", action = wezterm.action({ ActivatePaneDirection = "Right" }) },
        { key = "k", mods = "ALT|SHIFT", action = wezterm.action({ ActivatePaneDirection = "Up" }) },
        { key = "j", mods = "ALT|SHIFT", action = wezterm.action({ ActivatePaneDirection = "Down" }) },
    },
}
